.main-page.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
.main-page .profile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 91.25%;
  max-width: 1752px;
  background: var(--src) center center/cover no-repeat;
}
.main-page .profileImage {
  position: absolute;
  top: 826px;
  right: 152px;
  bottom: 0px;
  left: 0px;
  width: 1920px;
  height: 220px;
  filter: blur(32px);
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1919px) {
  .main-page .profileImage {
    width: 1900px;
  }
}
.main-page .textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 51px 0px;
  margin: 29px 0px 300px auto;
  width: 88.64%;
}
@media (max-width: 991px) {
  .main-page .textContainer {
    margin: 29px 0px 150px auto;
  }
}
@media (max-width: 575px) {
  .main-page .textContainer {
    margin: 29px 0px 80px auto;
  }
}
@media (max-width: 383px) {
  .main-page .textContainer {
    gap: 50px 0px;
    margin: 29px 0px 50px auto;
  }
}
.main-page .navigationRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 0px 0px 0px auto;
  width: 471px;
  max-width: 85%;
}
@media (max-width: 383px) {
  .main-page .navigationRow {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.main-page .portfolioTab {
  position: relative;
  width: 66px;
  height: 20px;
  font: 17px/1.17 "Roboto", Helvetica, Arial, serif;
  color: #d0b8ac;
}
@media (max-width: 991px) {
  .main-page .portfolioTab {
    align-items: flex-start;
    font-size: 16px;
  }
}
.main-page .infoTab {
  position: relative;
  width: 30px;
  height: 20px;
  font: 17px/1.17 "Roboto", Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .main-page .infoTab {
    align-items: flex-start;
    font-size: 16px;
  }
}
.main-page .contactTab {
  position: relative;
  width: 60px;
  height: 20px;
  font: 17px/1.17 "Roboto", Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .main-page .contactTab {
    align-items: flex-start;
    font-size: 16px;
  }
}
.main-page .contentContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
}
@media (max-width: 1919px) {
  .main-page .contentContainer {
    padding: 2px;
  }
}
@media (max-width: 383px) {
  .main-page .contentContainer {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.main-page .bioColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 74px;
  width: 523px;
  min-width: 0px;
}
@media (max-width: 1919px) {
  .main-page .bioColumn {
    padding: 20px;
    border-style: solid;
    border-width: 1px;
  }
}
@media (max-width: 575px) {
  .main-page .bioColumn {
    margin: 0px;
  }
}
@media (max-width: 383px) {
  .main-page .bioColumn {
    margin: 0px 0px 50px;
  }
}
.main-page .nameTitle {
  position: relative;
  display: flex;
  width: 100%;
  height: 396px;
  font: 110px/1.2 "Glinster", Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 1919px) {
  .main-page .nameTitle {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
  }
}
@media (max-width: 1399px) {
  .main-page .nameTitle {
    align-items: center;
    font-size: 80px;
  }
}
@media (max-width: 1199px) {
  .main-page .nameTitle {
    align-items: flex-end;
    font-size: 70px;
  }
}
@media (max-width: 991px) {
  .main-page .nameTitle {
    font-size: 60px;
  }
}
@media (max-width: 479px) {
  .main-page .nameTitle {
    height: 290px;
    font-size: 45px;
  }
}
@media (max-width: 383px) {
  .main-page .nameTitle {
    height: 200px;
  }
}
.main-page .bioText {
  position: relative;
  margin: 0px 98px 0px 1px;
  width: 424px;
  max-width: 85%;
  height: 176px;
  font: 16px/1.37 "Open Sans", Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 1919px) {
  .main-page .bioText {
    align-items: flex-start;
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    width: 100%;
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .main-page .bioText {
    margin: 0px 32px 0px 0px;
  }
}
@media (max-width: 575px) {
  .main-page .bioText {
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .main-page .bioText {
    margin: 0px 8px 0px 0px;
  }
}
.main-page .galleryContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 31px 0px;
  margin: 90px 0px 0px;
  width: 20px;
}
@media (max-width: 575px) {
  .main-page .galleryContainer {
    margin: 80px 0px 0px;
  }
}
@media (max-width: 383px) {
  .main-page .galleryContainer {
    margin: 50px 0px 0px;
  }
}
.main-page .galleryRect {
  position: relative;
  margin: 0px 9px 0px 10px;
  width: 1px;
  max-width: 85%;
  height: 187px;
  background-color: #d0b8ac;
}
@media (max-width: 383px) {
  .main-page .galleryRect {
    margin: 0px 8px;
  }
}
.main-page .imageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px 0px;
  width: 20px;
  height: 120px;
}
.main-page .galleryImage {
  position: relative;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-page .profile2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 83.59%;
  background: var(--src) center center/100% 100% no-repeat;
}
.main-page .gridContainer {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: start;
  row-gap: 61px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  margin: 153px auto;
  width: 90%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media (max-width: 1399px) {
  .main-page .gridContainer {
    margin: 10% auto;
  }
}
@media (max-width: 767px) {
  .main-page .gridContainer {
    max-height: 100vw;
  }
}
@media (max-width: 479px) {
  .main-page .gridContainer {
    max-height: 110vw;
  }
}
@media (max-width: 383px) {
  .main-page .gridContainer {
    max-height: 120vw;
  }
}
.main-page .imageItem {
  position: relative;
  grid-row: span 1;
  grid-column: span 1;
  width: 100%;
}
.main-page .detailsItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: span 1;
  grid-column: span 2;
}
.main-page .heroTitle {
  position: relative;
  font: 400 130px/1.2 "Glinster", Helvetica, Arial, serif;
  color: #d0b8ac;
}
@media (max-width: 1919px) {
  .main-page .heroTitle {
    align-items: flex-start;
    font-size: 100px;
  }
}
@media (max-width: 1399px) {
  .main-page .heroTitle {
    font-size: 90px;
  }
}
@media (max-width: 1199px) {
  .main-page .heroTitle {
    font-size: 70px;
  }
}
@media (max-width: 991px) {
  .main-page .heroTitle {
    font-size: 50px;
  }
}
@media (max-width: 575px) {
  .main-page .heroTitle {
    font-size: 40px;
  }
}
@media (max-width: 479px) {
  .main-page .heroTitle {
    font-size: 30px;
  }
}
.main-page .heroSubtitle {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font: 400 130px/1.2 "Glinster", Helvetica, Arial, serif;
  color: #d0b8ac;
  text-align: right;
}
@media (max-width: 1919px) {
  .main-page .heroSubtitle {
    align-items: flex-start;
    font-size: 100px;
  }
}
@media (max-width: 1399px) {
  .main-page .heroSubtitle {
    font-size: 90px;
  }
}
@media (max-width: 1199px) {
  .main-page .heroSubtitle {
    font-size: 70px;
  }
}
@media (max-width: 991px) {
  .main-page .heroSubtitle {
    font-size: 50px;
  }
}
@media (max-width: 575px) {
  .main-page .heroSubtitle {
    font-size: 40px;
  }
}
@media (max-width: 479px) {
  .main-page .heroSubtitle {
    font-size: 30px;
  }
}
.main-page .quoteItem {
  position: relative;
  grid-row: span 1;
  grid-column: span 2;
  max-width: 66%;
  font: 400 30px/1.33 "Open Sans", Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .main-page .quoteItem {
    align-items: flex-start;
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .main-page .quoteItem {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .main-page .quoteItem {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .main-page .quoteItem {
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .main-page .quoteItem {
    font-size: 13px;
  }
}
.main-page .imageItem1 {
  position: relative;
  grid-row: span 1;
  grid-column: span 1;
  -o-object-fit: auto;
  object-fit: auto;
  -o-object-position: 50% center;
  object-position: 50% center;
}
@media (max-width: 767px) {
  .main-page .imageItem1 {
    height: 74.98%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: -5% center;
    object-position: -5% center;
  }
}
@media (max-width: 575px) {
  .main-page .imageItem1 {
    height: 60%;
  }
}
@media (max-width: 479px) {
  .main-page .imageItem1 {
    height: 50%;
    -o-object-position: -10% center;
    object-position: -10% center;
  }
}
@media (max-width: 383px) {
  .main-page .imageItem1 {
    -o-object-position: 0% center;
    object-position: 0% center;
  }
}
.main-page .portfolioFood {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
@media (max-width: 1199px) {
  .main-page .portfolioFood {
    width: 100%;
  }
}
.main-page .contentColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 100px auto 115px;
  width: 1248.9000244141px;
  max-width: 85%;
}
@media (max-width: 575px) {
  .main-page .contentColumn {
    margin: 80px auto;
  }
}
@media (max-width: 383px) {
  .main-page .contentColumn {
    margin: 50px auto;
  }
}
.main-page .headerRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 0px auto;
  width: 96.08%;
}
@media (max-width: 1399px) {
  .main-page .headerRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.main-page .portfolioTitle {
  position: relative;
  margin: 0px 0px 73px;
  font: 400 96px/1.2 "Glinster", Helvetica, Arial, serif;
  color: #d0b8ac;
}
@media (max-width: 1399px) {
  .main-page .portfolioTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .main-page .portfolioTitle {
    align-items: flex-start;
    font-size: 52px;
  }
}
@media (max-width: 479px) {
  .main-page .portfolioTitle {
    font-size: 36px;
  }
}
.main-page .foodBeverageColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px 0px;
  margin: 38px 0px 0px;
  width: 602px;
  min-width: 0px;
}
@media (max-width: 1399px) {
  .main-page .foodBeverageColumn {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.main-page .foodBeverageTitle {
  position: relative;
  font: 400 75px/1.2 "Glinster", Helvetica, Arial, serif;
  color: #d0b8ac;
}
@media (max-width: 991px) {
  .main-page .foodBeverageTitle {
    align-items: flex-start;
    font-size: 52px;
  }
}
@media (max-width: 479px) {
  .main-page .foodBeverageTitle {
    font-size: 36px;
  }
}
.main-page .highlightContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-page .highlightText {
  position: relative;
  font: 400 15px/1.33 "Open Sans", Helvetica, Arial, serif;
  color: white;
}
.main-page .galleryRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 79px 0px 0px;
}
@media (max-width: 991px) {
  .main-page .galleryRow {
    flex-direction: column;
    gap: 30px 10px;
  }
}
@media (max-width: 383px) {
  .main-page .galleryRow {
    margin: 50px 0px 0px;
  }
}
.main-page .imageFoodPhotography {
  position: relative;
  width: 602px;
  min-width: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 991px) {
  .main-page .imageFoodPhotography {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
    max-width: 602px;
  }
}
.main-page .imageFreezingPhotography {
  position: relative;
  width: 461px;
  min-width: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 991px) {
  .main-page .imageFreezingPhotography {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
    max-width: 461px;
  }
}
.main-page .dividerLine {
  position: relative;
  margin: 90px 0px 0px 3.92%;
  width: 553px;
  max-width: 85%;
  height: 1px;
  min-height: 1px;
  background-color: #d0b8ac;
}
@media (max-width: 575px) {
  .main-page .dividerLine {
    margin: 80px 0px 0px 3.92%;
  }
}
@media (max-width: 383px) {
  .main-page .dividerLine {
    margin: 50px 0px 0px 3.92%;
  }
}
.main-page .portofolioArchitecture {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
@media (max-width: 1199px) {
  .main-page .portofolioArchitecture {
    width: 100%;
  }
}
.main-page .contentContainer1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  width: 1199.9375px;
  max-width: 85%;
}
@media (max-width: 575px) {
  .main-page .contentContainer1 {
    margin: 80px auto;
  }
}
@media (max-width: 383px) {
  .main-page .contentContainer1 {
    margin: 50px auto;
  }
}
.main-page .headerRow1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px 29px;
  width: 100%;
}
@media (max-width: 575px) {
  .main-page .headerRow1 {
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
}
@media (max-width: 383px) {
  .main-page .headerRow1 {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.main-page .contentRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 1170px;
  min-width: 0px;
}
@media (max-width: 1199px) {
  .main-page .contentRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.main-page .titleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 654px;
  min-width: 0px;
}
@media (max-width: 1199px) {
  .main-page .titleWrapper {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.main-page .title {
  position: relative;
  display: flex;
  margin: 0px auto auto 0px;
  width: 100%;
  height: 240px;
  font: 100px/1.2 "Glinster", Helvetica, Arial, serif;
  color: #d0b8ac;
}
@media (max-width: 991px) {
  .main-page .title {
    align-items: flex-start;
    font-size: 90px;
  }
}
@media (max-width: 479px) {
  .main-page .title {
    align-items: center;
    height: auto;
    font-size: 60px;
  }
}
.main-page .descriptionWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 24px 0px 113px;
  width: 477px;
  min-width: 0px;
}
@media (max-width: 1199px) {
  .main-page .descriptionWrapper {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.main-page .description {
  position: relative;
  margin: 0px auto auto 0px;
  width: 100%;
  height: 100px;
  font: 15px/1.33 "Open Sans", Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 383px) {
  .main-page .description {
    height: 150px;
  }
}
.main-page .decorationRectangle {
  position: relative;
  width: 1px;
  height: 250px;
  min-height: 250px;
  background-color: #d0b8ac;
}
.main-page .imageRow {
  position: relative;
  display: flex;
  gap: 0px 13px;
  margin: 73px 0px 0px;
  width: 100%;
}
@media (max-width: 1199px) {
  .main-page .imageRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 13px;
  }
}
@media (max-width: 383px) {
  .main-page .imageRow {
    margin: 50px 0px 0px;
  }
}
.main-page .galleryImage1 {
  position: relative;
  width: 290px;
  min-width: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .main-page .galleryImage1 {
    width: 100%;
  }
}
.main-page .galleryImage2 {
  position: relative;
  width: 290px;
  min-width: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .main-page .galleryImage2 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.main-page .footerImage {
  position: relative;
  margin: 40px 0px 0px;
  width: 375.9375px;
  max-width: 85%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-page .portofolioProduct {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
@media (max-width: 1199px) {
  .main-page .portofolioProduct {
    width: 100%;
  }
}
.main-page .list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: flex-start;
  gap: 16px;
  margin: 162px auto 34px;
  width: 1200.9000244141px;
  max-width: 85%;
}
@media (max-width: 1919px) {
  .main-page .list {
    flex-direction: column;
    align-items: center;
    gap: 30px 16px;
  }
}
@media (max-width: 991px) {
  .main-page .list {
    margin: 150px auto 34px;
  }
}
@media (max-width: 575px) {
  .main-page .list {
    margin: 80px auto 34px;
  }
}
@media (max-width: 383px) {
  .main-page .list {
    margin: 50px auto 34px;
  }
}
.main-page .productTitle {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 65%;
  font: 400 80px/1.2 "Glinster", Helvetica, Arial, serif;
  color: #d0b8ac;
  text-align: center;
}
@media (max-width: 991px) {
  .main-page .productTitle {
    align-items: flex-start;
    margin: 0px 0px 0px 0%;
    font-size: 52px;
  }
}
@media (max-width: 479px) {
  .main-page .productTitle {
    font-size: 36px;
  }
}
.main-page .flexRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  flex: 0 0 auto;
  width: 1201px;
  min-width: 0px;
}
@media (max-width: 1919px) {
  .main-page .flexRow {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
@media (max-width: 1199px) {
  .main-page .flexRow {
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
@media (max-width: 991px) {
  .main-page .flexRow {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.main-page .image20 {
  position: relative;
  width: 560px;
  min-width: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 991px) {
  .main-page .image20 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.main-page .image21 {
  position: relative;
  margin: 162px 0px 0px;
  width: 432px;
  min-width: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 991px) {
  .main-page .image21 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.main-page .rect4 {
  position: relative;
  margin: 36px 0px 167px;
  width: 1px;
  min-height: 500px;
  background-color: #d0b8ac;
}
@media (max-width: 991px) {
  .main-page .rect4 {
    display: none;
    margin-top: unset;
    margin-bottom: unset;
  }
}
.main-page .portofolioModel {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
@media (max-width: 1199px) {
  .main-page .portofolioModel {
    width: 100%;
  }
}
.main-page .contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 92px auto 79px;
  width: 1202.9749755859px;
  max-width: 85%;
}
@media (max-width: 575px) {
  .main-page .contentWrapper {
    margin: 80px auto 79px;
  }
}
@media (max-width: 383px) {
  .main-page .contentWrapper {
    margin: 50px auto;
  }
}
.main-page .titleWrapper1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 100%;
}
@media (max-width: 383px) {
  .main-page .titleWrapper1 {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.main-page .titleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 586px;
  min-width: 0px;
}
.main-page .mainTitle {
  position: relative;
  font: 400 96px/1.2 "Glinster", Helvetica, Arial, serif;
  color: #d0b8ac;
}
@media (max-width: 991px) {
  .main-page .mainTitle {
    align-items: flex-start;
    font-size: 100px;
  }
}
@media (max-width: 575px) {
  .main-page .mainTitle {
    font-size: 80px;
  }
}
@media (max-width: 479px) {
  .main-page .mainTitle {
    font-size: 65px;
  }
}
@media (max-width: 383px) {
  .main-page .mainTitle {
    font-size: 60px;
  }
}
.main-page .decorativeRect {
  position: relative;
  margin: 8px 0px 93px;
  width: 1px;
  min-height: 130px;
  background-color: #d0b8ac;
}
@media (max-width: 575px) {
  .main-page .decorativeRect {
    margin: 8px 0px 80px;
  }
}
@media (max-width: 383px) {
  .main-page .decorativeRect {
    margin: 8px 0px 50px;
  }
}
.main-page .imageRow1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 99.75%;
}
@media (max-width: 991px) {
  .main-page .imageRow1 {
    flex-direction: column;
    gap: 30px 10px;
  }
}
.main-page .portraitImage1 {
  position: relative;
  width: 359px;
  min-width: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 991px) {
  .main-page .portraitImage1 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.main-page .portraitImage2 {
  position: relative;
  width: 413px;
  min-width: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 991px) {
  .main-page .portraitImage2 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.main-page .portraitImage3 {
  position: relative;
  width: 360px;
  min-width: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 991px) {
  .main-page .portraitImage3 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.main-page .featuredImage {
  position: relative;
  width: 376.0500183105px;
  max-width: 85%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-page .contact {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
@media (max-width: 1199px) {
  .main-page .contact {
    width: 100%;
  }
}
.main-page .flexRow1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 170px auto 100px;
  width: 1199.9375px;
  max-width: 85%;
}
@media (max-width: 1199px) {
  .main-page .flexRow1 {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
@media (max-width: 991px) {
  .main-page .flexRow1 {
    margin: 150px auto 100px;
  }
}
@media (max-width: 575px) {
  .main-page .flexRow1 {
    margin: 80px auto;
  }
}
@media (max-width: 383px) {
  .main-page .flexRow1 {
    margin: 50px auto;
  }
}
.main-page .wrapper16 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 560px;
  width: 470px;
  min-width: 0px;
}
@media (max-width: 1199px) {
  .main-page .wrapper16 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.main-page .contactSectionTitle {
  position: relative;
  display: flex;
  margin: 0px 0px 2px;
  width: 50%;
  font: 100px/1.2 "Glinster", Helvetica, Arial, serif;
  color: #d0b8ac;
}
@media (max-width: 1199px) {
  .main-page .contactSectionTitle {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    text-align: center;
    font-size: 100px;
  }
}
@media (max-width: 991px) {
  .main-page .contactSectionTitle {
    font-size: 70px;
  }
}
@media (max-width: 479px) {
  .main-page .contactSectionTitle {
    font-size: 36px;
  }
}
.main-page .contactSectionImage {
  position: relative;
  width: 616px;
  min-width: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .main-page .contactSectionImage {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
    max-width: 616px;
  }
}
@media (max-width: 991px) {
  .main-page .contactSectionImage {
    width: 80%;
    max-width: unset;
  }
}
.main-page .footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
@media (max-width: 1199px) {
  .main-page .footer {
    width: 100%;
  }
}
.main-page .mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 58px auto 24px;
  width: 1199.9375px;
  max-width: 85%;
}
@media (max-width: 383px) {
  .main-page .mainContainer {
    margin: 50px auto 24px;
  }
}
.main-page .topRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  align-content: stretch;
  gap: 0px 8px;
  width: 100%;
}
@media (max-width: 1919px) {
  .main-page .topRow {
    justify-content: space-around;
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
@media (max-width: 991px) {
  .main-page .topRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 8px;
  }
}
.main-page .navRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 8px;
  margin: 1px 0px 60px;
  width: 250px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .main-page .navRow {
    justify-content: center;
    -moz-column-gap: 8px;
    column-gap: 8px;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
@media (max-width: 383px) {
  .main-page .navRow {
    gap: 30px 8px;
  }
}
.main-page .navItem {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 0px;
  font: 400 16px/1.18 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
@media (max-width: 383px) {
  .main-page .navItem {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    width: 100%;
    min-width: unset;
  }
}
.main-page .introCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px 0px;
  width: 159px;
  min-width: 0px;
}
.main-page .professionLabel {
  position: relative;
  margin: 0px 30px 0px 31px;
  width: 98px;
  height: 20px;
  font: 400 15px/1.33 "Open Sans", Helvetica, Arial, serif;
  color: white;
}
.main-page .title1 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 159px;
  height: 36px;
  font: 400 30px/1.2 "Glinster", Helvetica, Arial, serif;
  color: #d0b8ac;
  text-align: center;
}
@media (max-width: 991px) {
  .main-page .title1 {
    align-items: flex-start;
    font-size: 28px;
  }
}
@media (max-width: 479px) {
  .main-page .title1 {
    font-size: 24px;
  }
}
.main-page .imageRow2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 8px;
  margin: 0px 0px 60px;
  width: 250px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .main-page .imageRow2 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
@media (max-width: 575px) {
  .main-page .imageRow2 {
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
}
@media (max-width: 383px) {
  .main-page .imageRow2 {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.main-page .portfolioImage {
  position: relative;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-page .dividerLine1 {
  position: relative;
  margin: 51px 0px 0px;
  width: 100.01%;
  height: 1px;
  min-height: 1px;
  background-color: #d0b8ac;
}
@media (max-width: 383px) {
  .main-page .dividerLine1 {
    margin: 50px 0px 0px;
  }
}
.main-page .footerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 31px 0px 0px;
  width: 300.9375px;
  max-width: 85%;
}
.main-page .footerText {
  position: relative;
  display: flex;
  justify-content: center;
  font: 15px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}